<ion-content [fullscreen]="true">

    <ion-grid fixed>
        <ion-row>
            <ion-col>
                <h3>Películas nuevas</h3>
                <app-slideshow-backdrop [data]="peliculasRecientes"></app-slideshow-backdrop>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-grid fixed>
        <ion-row>
            <ion-col>
                <h3>Cartelera</h3>
                <app-slideshow-poster [data]="peliculasRecientes"></app-slideshow-poster>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-grid fixed>
        <ion-row>
            <ion-col>
                <h3>Populares</h3>
                <app-slideshow-pares [data]="peliculasPopulares" (cargar)="cargarMas()"></app-slideshow-pares>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>